.mission-container {
    background-color: #dbdbdb;
    border: 2px solid #272d30;
    padding: 20px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #2c3e50;  /* Darker text color for better contrast */
    border-radius: 10px;  /* Rounded corners for a smoother look */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    letter-spacing: 2px;  /* Slight letter spacing for better readability */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Light outer shadow for the container */
}
.rubric {
    font-size: 1.5em; /* Adjust the size to match your theme's h2 size */
    font-weight: bold; /* Most h2 headers are bold */
    margin-top: 18px; /* Adjust margins to fit your theme's layout */
    margin-bottom: 10px;
    padding: 4px 0; /* Optional: depends on your theme */
    color: #333; /* Adjust the color to match your h2 headers */
}

